@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>>I am a senior here at Ohio University double majoring in Marketing and Management Information Systems. I am 
    currently the Public Relations Director for Student Senate which I enjoy doing very much. Currently, I am looking 
    for a full time job after graduation in the marketing field.</p>
